<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Futuristic To-Do</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="app-container">
    {% block content %}{% endblock %}
  </div>
  <script>
    /* ===== Global Theme Loader ===== */
    (function () {
      const theme = localStorage.getItem("theme");
      if (theme === "light") {
        document.body.classList.add("light");
      }
    })();

    function toggleTheme() {
      document.body.classList.toggle("light");

      if (document.body.classList.contains("light")) {
        localStorage.setItem("theme", "light");
      } else {
        localStorage.setItem("theme", "dark");
      }
    }
  </script>

</body>

</html>